@font-face {
    src: url('fonts/SignikaNegative.ttf');
    font-family: 'Signika Negative';
}

/* Main part */

.grid2 {
    display: grid;
    width: 70%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
}

.text {
    margin: auto;
    font-family: 'Kanit', Arial, sans;
}

.photo {
    margin: auto;
}

.inner-text, li {
    font-family: 'Signika Negative', Arial, sans;
    font-size: 22px;
}

button {
    font-size: 30px;
    display: flex !important; 
    justify-content: center;
}

.content-job p {
    font-family: 'Signika Negative', Arial, sans;
    font-size: 22px;
}
.content-exp p {
    font-family: 'Signika Negative', Arial, sans-serif;
    font-size: 22px;
}

.content-job h2 {
    font-family: 'Kanit', Arial, sans;
    font-size: 35px;
}
.content-exp h2 {
    font-family: 'Kanit', Arial, sans-serif;
    font-size: 35px;
}

.skill-part {
    font-family: 'Signika Negative', Arial, sans-serif;
    font-size: 22px;
}

*{
    box-sizing: border-box;
}

.about-text {
    display: grid;    
}

.about-text ul {
    grid-column: 1 1;
    grid-row: 2;
    font-size: 22px;
    font-family: 'Kanit', Arial, sans;
}

/* Experience timeline block */
.timeline {
    position: relative;
    max-width: 70%;
    margin: 0 auto;
    background-color: #474e5d;
    overflow: hidden;
    display: none;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container-job {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container-exp {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container-exp::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -16px;
}

.content-job {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}
.content-exp {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Collapsible */
.collapsible {
    background-color: #eee;
    color: #033b18;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    border: none;
    text-align: center;
    outline: none;
    margin: 14px auto 0;
    display: grid;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.skill-part {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 70%;
    position: relative;
    margin: auto;
}

/* Skills bar */
* {box-sizing: border-box}

.container-skill {
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html {width: 60%; background-color: orange;}
.css {width: 60%; background-color: blue;}
.js {width: 50%; background-color: red;}
.python {width: 90%; background-color: green;}
.django {width: 80%; background-color: darkmagenta;}
.git {width: 75%; background-color: rgb(24, 185, 172);}

ul {list-style-type: none;}

/* For mobile devices */
@media screen and (max-width: 600px) {
    .grid2 {
        display: grid;
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 400px;
    }
    
    .hello-photo img {
        width: 100%;
        height: 100%;
    }

    .about-photo img {
        content-visibility: hidden;
    }

    .about-text {
        padding-left: 0px;
    }

    .about-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .about-text ul {
        padding-left: 0;
    }

    .about-text li {
        padding: 0;
        font-size: 15px;
    }

    .timeline::after {
        left: 31px;
    }

    .timeline {
        max-width: 90%;
    }

    .container-job {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .container-job::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .container-exp {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container-exp::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }

    .skill-part {
        width: 90%;
    }

    .collapsible {
        width: 90%;
    }
}

